default: &default
  dispatchers:
    - polling_interval: 1
      batch_size: 500
  workers:
    - queues: [default, mailers]
      threads: 2
      polling_interval: 0.1
    - queues: [scans]
      threads: 1
      polling_interval: 0.5

development:
  <<: *default

test:
  <<: *default

production:
  dispatchers:
    - polling_interval: 1
      batch_size: 500
  workers:
    - queues: [default]
      threads: 2
      polling_interval: 0.1
    - queues: [scans]
      threads: 1
      polling_interval: 0.5
    - queues: [mailers]
      threads: 1
      polling_interval: 0.2
